.launch_header_container{
    background: url('../public/headerbackground.jpg');
    height: 650px;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 25% 75%;
    margin-left: 389px;
    margin-bottom: 20px;
}

.logo{
    font-size: 33px;
    color: #DFDFDF;
    position: absolute;
    top: 10px;
    left: -14px;
    z-index: 2;
    margin-left: -389px;
}
.logo img{
    width: 580px;
    height: 160px;
}

.info_box{
    background-color: black;
    color: #9FA1A2;;
    height: 62px;
    position: relative;
    margin-left: -389px;
    align-content: center;
    top: 65%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 12%;
}

.info_box span{
    font-size:1.3em;
}

.info_box table{
    font-size: 0.87em;
   text-align: center;
 
}
.info_box table td{
    font-size: 0.86em;
    border-left:1px solid #9FA1A2;
    padding:0 3em;
    color: rgb(209, 212, 216);
}
.info_box table th{
    border-left:1px solid #9FA1A2;
    padding: 0 3em;
    font-weight: 300;
}

@media screen and (max-width: 622px) {
    .info_box table{
        font-size: 0.7em;
    
    }
   
    .info_box table td{
        
        border-left:0px solid #9FA1A2;
        padding:0.1em;
  
    }
    
    .info_box table th{
        border-left:0px solid #9FA1A2;
        padding: 0.7em;
   
    }
    
    .info_box{
        flex-direction: column;
        padding: 1em;
        height: auto;
        top: 45%;
         
        
    }
    .info_box span{
        margin-bottom: 0.5em;
        border-bottom:1px solid #9FA1A2;
    }

    .launch_header_container{
  
    height: 450px;
    }
  }

  @media screen and (max-width: 380px) {
    .info_box{
      
           background: url('../public/headerbackground.jpg');
  
        
    }
  }